<ion-content class="background">
  <div class="content">
    <div class="button-action">
      <ion-button fill="clear" color="dark" size="small" routerLink="/login" routerDirection="root">
        <p class="signin-text">Sign in</p>
      </ion-button>
      <ion-button fill="clear" color="dark" size="small">
        <p class="signup-text">Sign Up</p>
      </ion-button>
    </div>
    <div class="ion-padding">
      <ion-input placeholder="Email" style="padding-left: 10px !important; font-family: 'Nunito', sans-serif; color: black;"></ion-input>
      <br>
      <ion-input placeholder="Password" style="padding-left: 10px !important; font-family: 'Nunito', sans-serif; color: black;"></ion-input>
      <br>
      <ion-input placeholder="Repeat Password" style="padding-left: 10px !important; font-family: 'Nunito', sans-serif; color: black;"></ion-input>
    </div>
    <ion-button class="actionbutton" fill ="clear" expand="full" style="text-transform: none;"><b>Sign Up</b></ion-button>
    <ion-button fill="clear" style="font-size: 10px; padding-bottom: 20px; color: #a8a8a8; margin-right: 10px;
    text-transform: none; font-family: 'Nunito', sans-serif;" routerLink="/login">Already Have an Account?</ion-button>
  </div>
</ion-content>
