<ion-content class="background">

  <div style="margin-top: 50%;">
    <ion-fab vertical="top" horizontal="start" class="fab" style="margin-top: 30%;">
      <h2>Pengaturan</h2>
    </ion-fab>

    <!-- <ion-list style="margin-top: 20%; " class="item-content" color="secondary">
    <ion-item routerLink="/edit" >
      <ion-label>
        <h3>Ganti Password</h3>
      </ion-label>
      <ion-icon name="play-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/tentang"> 
      <ion-label>
        <h3>Tentang</h3>
      </ion-label>
      <ion-icon name="play-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/login">
      <ion-label>
        <h3 >Logout</h3>
      </ion-label>
      <ion-icon  name="play-outline"></ion-icon>
    </ion-item>
</ion-list> -->

    <ion-card style="margin-top: 20%;">
      <ion-item href="#" color="tertiary">
        <ion-icon name="create-outline"></ion-icon>
        <ion-label>Ubah profil</ion-label>
      </ion-item>

      <ion-item href="#" color="tertiary">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Tentang</ion-label>
      </ion-item>

      <ion-item href="#" color="tertiary">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>keluar</ion-label>
      </ion-item>


    </ion-card>

  </div>
</ion-content>