<ion-content class="background">
  <ion-tabs >
    <ion-tab-bar slot="bottom" color="#FF397F">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profil">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>
  
      <!-- <ion-tab-button tab="tagihan">
        <ion-icon name="wallet-outline"></ion-icon>
        <ion-label>Tagihan</ion-label>
      </ion-tab-button> -->

      <ion-tab-button tab="pengaduan">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>Pengaduan</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="pengaturan">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Pengaturan</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
