<ion-content class="background">

  <ion-fab vertical="top" horizontal="start" class="fab"
    style="font-family: 'Nunito', sans-serif; margin-top: 32%; margin-left: 10px;">
    <h2>Pengaduan</h2>
  </ion-fab>


  <ion-item style="margin-top: 60%; margin-left: 10px; margin-right: 10px;;">
    <ion-label position="floating">Silahkan laporkan keluhan anda</ion-label>
    <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
  </ion-item>

  <ion-button class="actionbutton" expand="block" fill="clear"
    style="text-transform: none; margin-left: 300px; margin-top: 40px;">Kirim</ion-button>


</ion-content>