<ion-content [fullscreen]="true" class="background" >
  
  <ion-fab vertical="top" horizontal="end" class="fab">
    <ion-fab-button color="secondary">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="start" class="fab">
    <ion-fab-text>
      <h2>Hallo User</h2>
    </ion-fab-text>
  </ion-fab>
<!-- 
  <ion-slides pager="true" [options]="slideOpts" class="slide" >
    <ion-slide class="grd"> 
      <img src="https://miro.medium.com/max/3840/1*B5_WC6M-kORcO8iMvEnQ0w.jpeg">
    </ion-slide>
    <ion-slide class="grd">
      <img src="https://zachjr.files.wordpress.com/2016/01/network.jpg" alt="">
    </ion-slide>
    <ion-slide class="grd">
      <img src="https://freddset.files.wordpress.com/2018/11/peremajaan-jaringan-perusahaan-seluruh-dunia-harus-lebih-cepat-min.png?w=670" alt="">
    </ion-slide>
  </ion-slides> -->
  <div class="kosong"></div>


  <ion-card >
    <ion-card-header style="background-color:#FF397F;">
      <ion-card-subtitle style="color: white;">Tagihan Anda Bulan</ion-card-subtitle>
      <ion-card-title style="color: white;" >Rp</ion-card-title>
    </ion-card-header>
    <ion-card-content style="background-color: #FF397F; color: white; padding: 15px;" >
      Bayar tagihan anda sebelum
    </ion-card-content>
  </ion-card>

  <h4 style="margin-left: 25px ; margin-bottom: -10px; font-family: 'Nunito', sans-serif; color: white;">
    Daftar Paket
  </h4>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-start" >
        <ion-card class="crd">
          <ion-card-content style="color: white;">
            <h1>10 mbps</h1>
            <h4>Rp. 260.000</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-end">
        <ion-card class="crd" >
          <ion-card-content style="color: white;">
            <h1>20 mbps</h1>
            <h4>Rp. 360.000</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-start" >
        <ion-card class="crd">
          <ion-card-content style="color: white;">
            <h1>10 mbps</h1>
            <h4>Rp. 260.000</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-end">
        <ion-card class="crd">
          <ion-card-content style="color: white;">
            <h1>20 mbps</h1>
            <h4>Rp. 360.000</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-start" >
        <ion-card class="crd">
          <ion-card-content style="color: white;">
            <h1>10 mbps</h1>
            <h4>Rp. 260.000</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-end">
        <ion-card class="crd">
          <ion-card-content style="color: white;">
            <h1>20 mbps</h1>
            <h4>Rp. 360.000</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  

</ion-content>
